/*
 * text-underline-offset doesn't work in Chrome at all 👎
 * But looks nice in Safari/Firefox, so let's keep it and
 * maybe Chrome will support it soon.
 */
a {
	cursor: pointer;
	text-decoration: unset;
	color: var(--global--color-black-900);
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
	&.skip-link {
		&:focus {
			color: var(--global--color-primary-500);
		}
	}

	&.custom-logo-link {
		background: none;
	}
}

// Enforce the custom link color even if a custom background color has been set.
// The extra specificity here is required to override the background color styles.
.has-background {
	// Target both current level and nested block.
	.has-link-color a,
	&.has-link-color a {
		color: var(--wp--style--color--link, var(--global--color-primary));
	}
}
